* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: clamp(10px, 100%, 16px);
}

body {
  background-color: #0f2234fa;
  font-family: 'Ubuntu', sans-serif;
}

nav {
  background-color: #00000082;
  padding: 0.7em;
  padding-top: 0;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 1.5rem;
  box-shadow: #8b379173 -2px 7px 20px 6px;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

nav a {
  margin-top: 1.3rem;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: text-decoration-offset 100ms;
  background: linear-gradient(to right,
      rgba(100, 200, 200, 0),
      rgba(100, 200, 200, 1));
  background-size: 0 0.1em;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms;

}

nav a:hover {
  background-size: 100% 0.1em;
}

.entryPoint {
  height: 100vh;
  width: 100vw;
}

.logo-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

.dropPage {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: clamp(50%, 100%, 300px);
}

.profile {
  text-align: center;
  display: block;
  font-size: 2rem;

  padding: 0.5em;
  width: 75%;
}

.profile img {

  width: 50%;
  aspect-ratio: 1;
  border-radius: 100%;
  border: 3px solid rgba(237, 176, 5, 0.998);
}

.profile p {
  background-color: rgba(255, 255, 255, 0.64);
  border-radius: 3em;
  padding: 0.2em;
  font-size: clamp(1rem, 23px, 2rem)
}

#tltwb {
  width: clamp(10px, 100%, 660px);
  animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: fill 3000ms;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

#tltwb:hover,
#tltwb:focus {
  fill: rgba(223, 165, 8, 0.716);
}

#tltwb:hover+.tltwbText {
  color: rgba(237, 176, 5, 0.998);
}

@keyframes animate {
  0% {
    filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 3px #fff) drop-shadow(0px 0px 10px #ff80b3) drop-shadow(0px 0px 30px #ff4d94);
  }

  100% {
    filter: drop-shadow(0px 0px 3px #fff) drop-shadow(0px 0px 6px #fff) drop-shadow(0px 0px 15px #ff80b3) drop-shadow(0px 0px 40px #ff4d94);
  }
}

@keyframes underLineEffect {
  0% {
    background-size: 0 0.1em;
  }

  50% {
    background-size: 100% 0.1em;
  }

  100% {
    background-size: 200% 0.1em;
  }
}

.tltwbText {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 300;
  color: rgba(237, 175, 5, 0);
  position: absolute;
  bottom: 5%;
  transition: color 3000ms;
}

.sectionTitle {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  color: white;
  animation-name: underLineEffect;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(to right,
      rgba(100, 200, 200, 0),
      rgba(100, 200, 200, 1));
  background-size: 0 0.1em;
  background-position: 0% 100%;
  background-repeat: no-repeat;
}

#music {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cvElms {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cvElms svg {
  width: clamp(25px, 20%, 50px);
  height: clamp(25px, 20%, 50px);
  aspect-ratio: 1;
}

.job {
  padding: 1.5em;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.491);
  backdrop-filter: blur(30px) saturate(180%) contrast(60%);
  border-radius: 2em;
}

.jobYears {
  font-size: 0.8rem;
}

.jobSociety {
  font-size: 1.1rem;
  font-weight: bold;

}

.jobTitle {
  font-size: 1rem;
}

.jobDescription {
  font-size: 0.8rem;
}

ul {
  width: clamp(100px, 100%, 450px);
  list-style-type: none;
  margin: 0 auto;
  padding: 2em;
  display: block;
}

ul>li {
  background-color: #fffa;
  backdrop-filter: blur(10px) saturate(160%) contrast(150%);
  padding: 0.5em;
  border-radius: 10em;
  max-width: 250px;
  margin: 1.2em auto;
}

ul>li>a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.section {
  margin-bottom: 1em;
  padding: 0.5em;
  height: 100vh;
  color: white;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: .3em;
  color: #ffffff63;
  font-size: 0.6rem;
}

.container{
  height: 50px;
  width: clamp(50px,100%,300px);
  border: 2px solid black;
  position: relative;
  border-radius: 2em;
  margin: 0.8rem 0.1rem;
  overflow: hidden;
}
.ratingVal{
  background-color: gold;
  width: 0;
  height: 100%;
}
.container p{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1em;
}
#skills{
  display: flex;
  flex-wrap: wrap;
  row-gap: 0;
  justify-content: center;
  align-items: center;
  align-content: baseline;
}