* {
  box-sizing: border-box;
  margin: 0;
  /* outline:1px red solid; */
}
html,body{
  height: 100vh;
  width: 100vw;
}
html {
  font-size: clamp(10px, 100%, 16px);
}
body {
  background-color: #0f2234fa;
  font-family: 'Ubuntu', sans-serif;
}

nav {
  background-color: #00000082;
  padding: 0.7em;
  padding-top: 0;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 1.5rem;
  box-shadow: #8b379173 -2px 7px 20px 6px;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  position: fixed ;
  z-index: 2;
  top: 0;
}

nav a {
  margin-top: 1.3rem;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: text-decoration-offset 100ms;
  background: linear-gradient(to right,
      rgba(100, 200, 200, 0),
      rgba(100, 200, 200, 1));
  background-size: 0 0.1em;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms;
  cursor: pointer;
}
nav a:active, nav a.active {
  animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
nav a:hover {
  background-size: 100% 0.1em;
}

#pages{
  width: 100vw;
  height: 100vh;
  position: relative;
}
.logo-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  position: relative;

}

.dropPage {
  position: absolute;
  left: 50%;
  z-index: 1;
  top: 50%;
  transform: translate(-50%,-50%);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: clamp(50%, 100vw, 100%);
  height: clamp(50%, 100vh, 100%);
  flex-wrap: wrap;
}

.profile {
  text-align: center;
  display: block;
  font-size: 2rem;
  padding: 0.5em;
  max-width: 500px;
}

.profile img {
  width: 50%;
  aspect-ratio: 1;
  border-radius: 100%;
  border: 3px solid rgba(237, 176, 5, 0.998);
}

.profile p {
  background-color: rgba(255, 255, 255, 0.64);
  border-radius: 3em;
  padding: 0.2em;
  font-size: clamp(1rem, 23px, 2rem);
  margin: auto;
  max-width:300px;
}

#tltwb {
  width: clamp(10px, 60vmin, 660px);
  animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: fill 3000ms;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

#tltwb:hover,
#tltwb:focus {
  fill: rgba(223, 165, 8, 0.716);
}

#tltwb:hover+.tltwbText {
  color: rgba(237, 176, 5, 0.998);
}

@keyframes animate {
  0% {
    filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 3px #fff) drop-shadow(0px 0px 10px #ff80b3) drop-shadow(0px 0px 30px #ff4d94);
  }

  100% {
    filter: drop-shadow(0px 0px 3px #fff) drop-shadow(0px 0px 6px #fff) drop-shadow(0px 0px 15px #ff80b3) drop-shadow(0px 0px 40px #ff4d94);
  }
}

@keyframes underLineEffect {
  0% {
    background-size: 0 0.1em;
  }

  50% {
    background-size: 100% 0.1em;
  }

  100% {
    background-size: 200% 0.1em;
  }
}

.tltwbText {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 300;
  color: rgba(237, 175, 5, 0);
  position: absolute;
  bottom: 8%;
  transition: color 3000ms;
}

.sectionTitle {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  color: white;
  animation-name: underLineEffect;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(to right,
      rgba(100, 200, 200, 0),
      rgba(100, 200, 200, 1));
  background-size: 0 0.1em;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  margin-bottom: 0.3em;
}
a {
    cursor: pointer;
}


@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cvElms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.cvElms svg {
  width: clamp(25px, 20%, 50px);
  height: clamp(25px, 20%, 50px);
  aspect-ratio: 1;
}

.job {
  padding: 1.5em;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.491);
  backdrop-filter: blur(30px) saturate(180%) contrast(60%);
  border-radius: 2em;
  max-width: 300px;
}

.jobYears {
  font-size: 0.8rem;
}

.jobSociety {
  font-size: 1.1rem;
  font-weight: bold;

}

.jobTitle {
  font-size: 1rem;
}

.jobDescription {
  font-size: 0.8rem;
}

.dropPage ul {
  width: clamp(100px, 100%, 450px);
  list-style-type: none;
  margin: 0 auto;
  padding: 2em;
  display: block;
}

.dropPage ul>li {
  background-color: #fffa;
  backdrop-filter: blur(10px) saturate(160%) contrast(150%);
  padding: 0.5em;
  border-radius: 10em;
  max-width: 250px;
  margin: 1.2em auto;
}

.dropPage ul>li>a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.section {
  padding: 0.5em;
  color: white;
  display: none;
  animation: fadein 2s;
  width: 100%;
  height: 100%;
}
#home{
  display: block;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 0.3em;
  color: #ffffff63;
  font-size: 0.6rem;
}

.container{
  height: 50px;
  width: clamp(50px,100%,300px);
  border: 2px solid black;
  position: relative;
  border-radius: 2em;
  margin: 0.8rem 0.1rem;
  overflow: hidden;
}
.ratingVal{
  background-color: gold;
  width: 0;
  height: 100%;
}
.container p{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1em;
}
#skills{
  display: flex;
  flex-wrap: wrap;
  row-gap: 0;
  justify-content: center;
  align-items: center;
  align-content: baseline;
  margin: auto;
  max-width: 1100px;
}
.more{
  display: none;
}
.moreButton{
  display: inline;
  border: 0;
  background: transparent;
  color: lawngreen;
  cursor: pointer;
  font-weight: bold;
}

/* Carousel Styling Here! Credits to @weSchool */

.mySlides1, .mySlides2,.mySlides3 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    display: none;
    max-width: 100vmin;
    max-height: 100vmin;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%,-50%);
    z-index: 2;
    box-shadow: 0px 0px 20px 100vh #000000c7;
    width:100%;
    height:100%;
    background-color:#000000c7;
  padding:2.5em;
}
.closeSlideshow{
  position: fixed;
  right: 0;
  font-weight: bold;
  color: red;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev{left:0}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
.mySlides1,.mySlides2{
  background-color: grey;
}
#covers{
  text-align: center;
}
#covers video{
  width: 50%;
  max-width: 500px;
}
.musicContainer{
  height: 100%;
  overflow: auto;
  text-align: center;
  background-color: #00000082
}
.navMusic{
  text-align: center;
  background-color: #00000082;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;
  box-shadow: #8b379173 -2px 7px 20px 6px;
  border-radius: 1em 1em 0 0;
  margin: 0.5em 0 0 0;
}


/* For Audio Player */
button.play-icon,button.mute-icon {
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
    width: 40px;
    height: 40px;
    float: left;
}
.audio-player-container {
  --seek-before-width: 0%;
    --volume-before-width: 100%;
    --buffered-width: 0%;
    position: relative;
    margin: 3% auto auto auto;
    width: 95%;
    max-width: 500px;
    background-clip: padding-box;
    border-radius: 26px;
    border: solid 1px white;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: 1fr 1fr 5fr 1fr;
    align-items: center;
    justify-items: center;
}
.audio-player-container legend{
  font-size: 1.3em;
}

.play-icon {
  grid-row: 2;
  grid-column: 1;
    margin: 20px 2.5% 10px 2.5%;
}
.audio-player-container img{
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 5;
  max-width: 90%;
}
.play-icon path, .mute-icon path {
    stroke: #007db5;
}
.time {
    grid-row: 2;
    grid-column: 2;
    display: inline-block;
    width: 37px;
    text-align: center;
    font-size: 20px;
    margin: 28.5px 0 18.5px 0;
    float: left;
}
.duration{
  grid-column: 4;
}
output {
  grid-row:3;
     grid-column: 2;
    display: inline-block;
    width: 32px;
    text-align: center;
    font-size: 20px;
    margin: 10px 2.5% 0 5%;
    float: left;
    clear: left;
}

.mute-icon {
    grid-row:3;
     grid-column: 4;
    margin: 0 2.5%;
}
input[type="range"] {
    position: relative;
    background: transparent;
    -webkit-appearance: none;
    width: 93%;
    margin: 0;
    padding: 0;
    height: 19px;
    margin: 30px 2.5% 20px 2.5%;
}
.volume-slider {
      background: transparent;
    margin: 10px 2.5%;
  width: var(--volume-before-width);
  grid-column: 3;
}
.volume-slider::-webkit-slider-runnable-track {
    background: transparent;
    width: var(--volume-before-width);
    height: 3px;
    box-shadow: inset 0 0 0 5px #dbdbdb;

}
.volume-slider::-moz-range-track {
     width: var(--volume-before-width);
    height: 3px;
}
.volume-slider::-ms-fill-upper {

     width: var(--volume-before-width);
    height: 3px;
}
.volume-slider::before {
    background: rgba(255, 255, 255, 0.6);
    width: var(--volume-before-width);
}
.seek-slider{
    grid-row: 2;
  grid-column: 3;
}
.volume-slider{
    grid-row: 3;
  grid-column: 3;
}
input[type="range"].seek-slider::-webkit-slider-runnable-track {

    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"].seek-slider::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: var(--seek-before-width);
    height: 3px;
    background-color: #007db5;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin: -7px 0 0 0;
}
input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: #007db5;
}
input[type="range"].seek-slider::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-moz-range-progress {
    background-color: #007db5;
}
input[type="range"]::-moz-focus-outer {
    border: 0;
}
input[type="range"]::-moz-range-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
input[type="range"]:active::-moz-range-thumb {
    transform: scale(1.2);
    background: #007db5;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border: solid transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background-color: #007db5;
}
input[type="range"].seek-slider::-ms-fill-upper {
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-ms-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
input[type="range"]:active::-ms-thumb {
    transform: scale(1.2);
    background: #007db5;
}